In [211]:
import pandas as pd

In [212]:
file_path = 'C:\\Users\\ASUS\\Desktop\\Recomendor System\\Exercise-4\\ml-100k\\u.data'

In [213]:
columns = ['user_id', 'movie_id', 'rating', 'timestamp']

In [214]:
df = pd.read_csv(file_path, sep='\t', names=columns)

In [215]:
display(df)

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [216]:
rows,columns= df.shape

In [217]:
"""Filter the data for User ID 196"""
user_196_data = df[df['user_id'] == 196]
display(user_196_data)
print(f"The number of rows of user_id 196 is = {user_196_data.shape[0]}")

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
940        196       393       4  881251863
1133       196       381       4  881251728
1812       196       251       3  881251274
1896       196       655       5  881251793
2374       196        67       5  881252017
6910       196       306       4  881251021
7517       196       238       4  881251820
7842       196       663       5  881251911
10017      196       111       4  881251793
10254      196       580       2  881252056
10981      196        25       4  881251955
13733      196       286       5  881250949
14606      196        94       3  881252172
16834      196       692       5  881252017
17102      196         8       5  881251753
17830      196       428       4  881251702
18853      196      1118       4  881252128
21605      196        70       3  881251842
22271      196        66       3  881251911
22773      196       257       2  881251577
23189      196       108       4  881252110
24030      196       202       3  881251728
25726      196       340       3  881251045
32721      196       287       3  881251884
33536      196       116       3  881251753
35197      196       382       4  881251843
36281      196       285       5  881251753
41539      196      1241       3  881251642
42384      196      1007       4  881251601
50147      196       411       4  881252090
52726      196       153       5  881251820
56628      196        13       2  881251955
59165      196       762       3  881251955
59607      196       173       2  881251820
60199      196      1022       4  881251143
60706      196       845       4  881251954
78787      196       269       3  881250949
87863      196       110       1  881252305

The number of rows of user_id 196 is = 39

In [218]:
from scipy.stats import pearsonr
from collections import defaultdict

In [219]:
"""Create a user-item matrix"""
user_item_matrix = df.pivot_table(index='movie_id', columns='user_id', values='rating')

In [220]:
user_item_matrix

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,NaN,NaN,4.0,4.0,NaN,NaN,NaN,4.0,...,2.0,3.0,4.0,NaN,4.0,NaN,NaN,5.0,NaN,NaN
2,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,5.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
"""Function to calculate Pearson correlation between users"""
def calculate_pearson_correlation(user_item_matrix):
    user_corr = user_item_matrix.corr(method='pearson', min_periods=5)
    return user_corr

In [222]:
correlation_matrix=calculate_pearson_correlation(user_item_matrix).fillna(0)

In [223]:
correlation_matrix

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.608412e-01,0.112780,0.500000,0.420809,0.287159,0.258137,0.692086,-0.102062,-0.092344,...,0.061695,-2.602417e-01,0.383733,2.899974e-02,0.326744,5.343904e-01,0.263289,0.205616,-0.180784,0.067549
2,0.160841,1.000000e+00,0.067420,0.148522,0.327327,0.446269,0.643675,0.585491,0.242536,0.668145,...,0.021007,-2.711631e-01,0.214017,5.616449e-01,0.331587,-7.671236e-18,-0.011682,-0.062017,0.085960,0.479702
3,0.112780,6.741999e-02,1.000000,-0.262600,0.000000,-0.109109,0.064803,0.291937,0.000000,0.311086,...,0.000000,0.000000e+00,-0.045162,-5.233642e-17,-0.137523,0.000000e+00,-0.104678,0.000000,-0.011792,0.000000
4,0.500000,1.485221e-01,-0.262600,1.000000,0.000000,-0.581318,-0.266632,0.642938,0.000000,0.000000,...,0.000000,0.000000e+00,-0.203653,0.000000e+00,0.375000,0.000000e+00,0.850992,0.000000,0.412568,0.000000
5,0.420809,3.273268e-01,0.000000,0.000000,1.000000,0.241817,0.175630,0.537400,0.000000,0.087343,...,0.229532,-5.000000e-01,0.439286,6.085806e-01,0.484211,8.807048e-01,0.027038,0.468521,0.318163,0.346234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.534390,-7.671236e-18,0.000000,0.000000,0.880705,0.206315,0.142404,0.000000,0.000000,0.316228,...,0.374351,-3.305898e-02,0.471172,-2.758386e-01,-0.073374,1.000000e+00,-0.534522,-0.131306,0.000000,-0.187317
940,0.263289,-1.168173e-02,-0.104678,0.850992,0.027038,-0.024419,0.000931,0.320487,0.171499,0.158976,...,-0.125059,4.352858e-01,-0.338327,-1.486075e-01,0.110022,-5.345225e-01,1.000000,0.632746,-0.022813,0.332497
941,0.205616,-6.201737e-02,0.000000,0.000000,0.468521,0.399186,0.000000,0.166667,0.000000,0.420084,...,0.000000,-2.355139e-16,0.273060,3.929526e-01,-0.214147,-1.313064e-01,0.632746,1.000000,0.000000,-0.395285
942,-0.180784,8.596024e-02,-0.011792,0.412568,0.318163,0.092349,0.452075,0.201328,0.000000,0.408994,...,0.438252,0.000000e+00,-0.216119,4.472136e-01,0.244989,0.000000e+00,-0.022813,0.000000,1.000000,0.277433
943,0.067549,4.797016e-01,0.000000,0.000000,0.346234,0.109833,0.279081,0.040741,0.000000,0.119523,...,0.081880,7.881104e-02,-0.117941,-7.426107e-01,0.426501,-1.873172e-01,0.332497,-0.395285,0.277433,1.000000

In [224]:
import numpy as np
user_mean_ratings = user_item_matrix.mean(axis=0)

In [225]:
def predict_score(active_user, item, user_item_matrix, correlation_matrix):
    """Calculate mean ratings for each user"""
   
    
    """Get active user mean rating and item ratings by other users"""
    active_user_mean = user_mean_ratings.get(active_user, 0)
    item_ratings = user_item_matrix.loc[item].dropna()
    
    """Get correlations for the active user with others"""
    user_correlations = correlation_matrix.get(active_user, {})
    
    """Sorting the user_correlations matrix"""
    user_correlations=user_correlations.sort_values(ascending=False)
    
    """Sececting the top 50 similar users"""
    user_correlations=user_correlations[0:51,]
    
    """Calculate the weighted sum of deviations from the mea"""
    weighted_sum = sum(user_correlations.get(other_user, 0) * (item_rating - user_mean_ratings.get(other_user, 0))
                       for other_user, item_rating in item_ratings.items()
                       if other_user != active_user)
    
    """Calculate the sum of the absolute values of the correlations"""
    sum_of_correlations = sum(abs(user_correlations.get(other_user, 0))
                              for other_user in item_ratings.index
                              if other_user != active_user)
    
    """Predict the score"""
    if sum_of_correlations == 0:
        """If there are no correlations, return the active user's mean rating"""
        return active_user_mean
    else:
        """Adjust the active user's average by the weighted sum of deviations"""
        prediction = active_user_mean + (weighted_sum / sum_of_correlations)
        
        return  prediction

In [226]:
def get_recommended_movies(user_id, user_item_matrix, correlation_matrix):
    """Get the mean ratings for each user"""
    user_mean_ratings = user_item_matrix.mean(axis=1)
    """Get the list of movies the user hasn't rated yet"""
    unrated_movies = user_item_matrix.loc[user_item_matrix[user_id].isna(), :]
    """Dictionary to store the predicted ratings"""
    predictions = {}
    
    for movie_id in unrated_movies.index:
        """Predict the rating for each unrated movie"""
        predicted_rating = predict_score(user_id, movie_id, user_item_matrix, correlation_matrix)
        predictions[movie_id] = predicted_rating
    
    """Sort the predicted ratings in descending order and get the top n movies"""
    recommended_movies = sorted(predictions.items(), key=lambda x: x[1], reverse=True)
    return recommended_movies

In [227]:
user=196

In [228]:
recommended_movies=get_recommended_movies(user, user_item_matrix, correlation_matrix)

In [229]:
file_path_movies = 'C:\\Users\\ASUS\\Desktop\\Recomendor System\\Exercise-1\\ml-100k\\u.item'

In [230]:
df_movies = pd.read_csv(file_path_movies, sep='|',encoding='ISO-8859-1')
num_columns = len(df_movies.columns)
df_movies = pd.read_csv(file_path_movies, sep='|', encoding='ISO-8859-1', header=None, names=range(num_columns))

In [231]:
df_movies

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [232]:
genres_df = pd.read_csv('C:\\Users\\ASUS\\Desktop\\Recomendor System\\Exercise-4\\ml-100k\\u.genre', sep='|', names=['genre', 'index'],encoding='ISO-8859-1', engine='python')

In [233]:
genres_df

          genre  index
0       unknown      0
1        Action      1
2     Adventure      2
3     Animation      3
4    Children's      4
5        Comedy      5
6         Crime      6
7   Documentary      7
8         Drama      8
9       Fantasy      9
10    Film-Noir     10
11       Horror     11
12      Musical     12
13      Mystery     13
14      Romance     14
15       Sci-Fi     15
16     Thriller     16
17          War     17
18      Western     18

In [234]:
genre_mapping = genres_df.set_index('index')['genre'].to_dict()

In [235]:
genre_columns = list(range(5, 24))

In [236]:
df_movies['genres'] = df_movies[genre_columns].apply(lambda row: [genre_mapping[idx] for idx, val in enumerate(row) if val == 1], axis=1)

In [237]:
df_movies

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,genres
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,"[Animation, Children's, Comedy]"
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,"[Action, Adventure, Thriller]"
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,[Thriller]
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,"[Action, Comedy, Drama]"
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"[Crime, Drama, Thriller]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[Drama]
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,"[Romance, Thriller]"
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,"[Drama, Romance]"
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[Comedy]
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[Drama]

In [238]:
df_movies_genres=df_movies

In [239]:
df_movies=df_movies[[0,1]]

In [240]:
df_movies = df_movies.set_index(0)

In [241]:
df_movies = df_movies.merge(df_movies_genres[['genres']], left_index=True, right_index=True)

In [242]:
df_movies

                         1                         genres
1         Toy Story (1995)  [Action, Adventure, Thriller]
2         GoldenEye (1995)                     [Thriller]
3        Four Rooms (1995)        [Action, Comedy, Drama]
4        Get Shorty (1995)       [Crime, Drama, Thriller]
5           Copycat (1995)                        [Drama]
...                    ...                            ...
1677  Sweet Nothing (1995)                        [Drama]
1678     Mat' i syn (1997)            [Romance, Thriller]
1679      B. Monkey (1998)               [Drama, Romance]
1680  Sliding Doors (1998)                       [Comedy]
1681   You So Crazy (1994)                        [Drama]

[1681 rows x 2 columns]

## Movie score predection for a group of three users with Average Method

In [266]:
def predected_score_avarage_method(user_recomendations_average_method,first_user,second_user,third_user):
    User_1 = first_user
    User_2 = second_user
    User_3 = third_user

    group_average_method=[User_1,User_2,User_3]
    user_recomendations_average_method={}
    
    for user in group_average_method:
        uses_recomendation=get_recommended_movies(user, user_item_matrix, correlation_matrix)
        user_recomendations_average_method[user]=  dict(uses_recomendation)
    
    first_user= user_recomendations_average_method[User_1]
    second_user=user_recomendations_average_method[User_2]
    third_user= user_recomendations_average_method[User_3]
    
    all_keys=set(first_user.keys()) | set(second_user.keys()) | set(third_user.keys())
    mean_value_of_movies = {key: (first_user.get(key, 0) + second_user.get(key, 0)+ third_user.get(key,0) )/ 3 for key in all_keys}
    sorted_mean_value_of_movies=sorted(mean_value_of_movies.items(), key=lambda x: x[1], reverse=True)
    return sorted_mean_value_of_movies

In [267]:
def get_top_10_genres(user_id, user_item_matrix, correlation_matrix, df_movies):

    top_movies = get_recommended_movies(user_id, user_item_matrix, correlation_matrix)[:10]
    top_movie_ids = [movie_id for movie_id, _ in top_movies]

    
    genre_counts = defaultdict(int)
    for movie_id in top_movie_ids:
        genres = df_movies.loc[movie_id, 'genres']
        for genre in genres:
            genre_counts[genre] += 1
            
    genre_counts=sorted(genre_counts.items(), key=lambda x: x[1], reverse=True)
    return genre_counts

# Method for Why

In [273]:
def top_ten_group_recomendation_with_avarage_method_with_why_not_explanation_for_group(one,two,three):
    User_1 = one
    User_2 = two
    User_3 = three

    group_average_method=[User_1,User_2,User_3]
    user_recomendations_average_method={}
    
    for user in group_average_method:
        uses_recomendation=get_recommended_movies(user, user_item_matrix, correlation_matrix)
        user_recomendations_average_method[user]=  dict(uses_recomendation)
        
    sorted_predected_score_avarage_method=predected_score_avarage_method(user_recomendations_average_method,User_1,User_2,User_3)
    print(f"The to 10 most recomended movies for the group with user {group_average_method[0]}, {group_average_method[1]} and {group_average_method[2]} with average method is given below:\n")

    for index,i in enumerate(sorted_predected_score_avarage_method):
        if index+1>10:
            break
        j=i[0]
        print(index+1,":",df_movies.loc[j][1],". Genres: ",",".join(str(element) for element in df_movies.loc[j]['genres']))
        
    top_10_recommendations= sorted_predected_score_avarage_method[:10]
    
    print("")
    print("")
    
    print("Enter 1, 2 or 3 for the below Why-not Questions\nand Emter 'quite' for ending the process.")
    print("")
    print("1. Why a specific movie is not in the top 10 recomendation list for the group.")
    print("2. Why a specific genre  not present in the top 10 recomendation list for the group.")
    print("3. Why a specific movie have a perticular ranking.")
    print("")
    
    numper=""
    
    while (numper != "quite"):
        print("")
        numper= input("Enter 'quite' for for ending the process and.\nPress 1 , 2 or 3 for you requered why-not Qiwstion:  ")
        print("")
        
        if numper=="quite":
            break
            
        if numper != "1" and numper != "2"  and numper != "3"  and numper !="quite" :
            print("")
            print("Enter the correct input")
            print("")
            
        elif numper=='1':

            """----------------------1st explanation--------------------------"""

            try:
                movie_name=input("Enter the movie name :")
                print("")
                
                movie_id = df_movies.index[df_movies[1] == movie_name][0]
            except:
                print("Either you have done a spelling mistake or the movie is not present in the MovieLens 100K dataset.")
                continue

            predicted_scores = [predict_score(user, movie_id, user_item_matrix, correlation_matrix) for user in group_average_method]
            average_predicted_score = sum(predicted_scores) / len(predicted_scores)

            tenth_movie_id, tenth_movie_score = top_10_recommendations[-1]

            if average_predicted_score > tenth_movie_score:
                explanation = (f"Movie '{df_movies.loc[movie_id][1]}' is already included in the top 10  recommendations for group with avarage method. ")
            else:
                explanation = (f"Movie '{df_movies.loc[movie_id][1]}' was predicted to have a score of {average_predicted_score}  whith the method of avarage method group recomendation"
                               f"which is lower than the score of  10th movie in the recommendation list which is  '{df_movies.loc[tenth_movie_id][1]}' with score {tenth_movie_score}, "
                               "that is  why this movie  was not included in the top 10  recommendations for group with avarage method.")
                
        elif numper=='2':

            """----------------------2nd explanation--------------------------"""
            
            genre_to_explain=input("Enter the genre for which you need why-not explanation: ")
            
            group_genre_counts = {}
            
            for user in group_average_method:
                user_genre_counts = dict(get_top_10_genres(user, user_item_matrix, correlation_matrix, df_movies))
                
               
                for g, count in user_genre_counts.items():
                    if g not in group_genre_counts:
                        group_genre_counts[g] = count
                    else:
                        group_genre_counts[g] += count
                    
                    
            if genre_to_explain not in group_genre_counts:
                
                explanation=( f"\nThe genre '{genre_to_explain}' is not present in the group recommendation because it is not a prevalent genre in the individual top 10 recommendations of the users in the group.")
            else:
                explanation =(f"\nThe genre '{genre_to_explain}' is present {group_genre_counts[genre_to_explain]} times in the individual recommendations, but not frequently enough to appear in the top recommendations for the group.")
                   
                
            """----------------------3rd explanation--------------------------"""
            
        elif numper=='3':
            try:
                movie_name=input("Enter the movie name :")
                print("")

                movie_id = df_movies.index[df_movies[1] == movie_name][0]
            except:
                print("\nEither you have done a spelling mistake or the movie is not present in the MovieLens 100K dataset.")
                continue

            expected_rank= int(input("Enter the movie rank for which you need explanation: "))

            expected_rank_movie_id, expected_rank_movie_score = sorted_predected_score_avarage_method[expected_rank]

            predicted_scores = [predict_score(user, movie_id, user_item_matrix, correlation_matrix) for user in group_average_method]
            average_predicted_score = sum(predicted_scores) / len(predicted_scores)



            if expected_rank_movie_score>average_predicted_score:

                explanation=(f"\nBecause the rank: {expected_rank} movie '{df_movies.loc[expected_rank_movie_id][1]}' has a group recomendation score of {expected_rank_movie_score}"
                            f" which is getter than the movie '{df_movies.loc[movie_id][1]}' which has a group recomendation score of {average_predicted_score}."
                            f" So, the rank of movie '{df_movies.loc[movie_id][1]}' has to be lower than the movie rank: {expected_rank}." 
                            )

            elif expected_rank_movie_score<average_predicted_score:

                explanation=(f"\nBecause the rank: {expected_rank} movie '{df_movies.loc[expected_rank_movie_id][1]}' has a group recomendation score of {expected_rank_movie_score}"
                            f" which is lower than the movie '{df_movies.loc[movie_id][1]}' which has a group recomendation score of {average_predicted_score}."
                            f" So, the rank of movie '{df_movies.loc[movie_id][1]}' has to be higher than the movie rank: {expected_rank}." 
                            )


        print(explanation)

        """-------------------------------------------------------------------"""

## The 10 movies with the highest prediction scores that  the average method suggests

In [274]:
print(f"Please enter three users for group recomendation :")
one= int(input("First User :"))
two= int(input("Second User :"))
three= int(input("Third User :"))

top_ten_group_recomendation_with_avarage_method_with_why_not_explanation_for_group(one,two,three)

Please enter three users for group recomendation :
First User :11
Second User :22
Third User :96
The to 10 most recomended movies for the group with user 11, 22 and 96 with average method is given below:

1 : Close Shave, A (1995) . Genres:  Comedy,Drama
2 : Good Will Hunting (1997) . Genres:  Action,Crime,Thriller
3 : Fast, Cheap & Out of Control (1997) . Genres:  Comedy
4 : Get on the Bus (1996) . Genres:  Drama,Musical
5 : Bridge on the River Kwai, The (1957) . Genres:  Horror
6 : Secrets & Lies (1996) . Genres:  Drama,Romance,War
7 : As Good As It Gets (1997) . Genres:  Drama
8 : Great Escape, The (1963) . Genres:  Drama,War
9 : Wrong Trousers, The (1993) . Genres:  Comedy,Drama,Romance
10 : Shall We Dance? (1996) . Genres:  Action,Adventure,Sci-Fi,Thriller


Enter 1, 2 or 3 for the below Why-not Questions
and Emter 'quite' for ending the process.

1. Why a specific movie is not in the top 10 recomendation list for the group.
2. Why a specific genre  not present in the top 10 recomendation list for the group.
3. Why a specific movie have a perticular ranking.


Enter 'quite' for for ending the process and.
Press 1 , 2 or 3 for you requered why-not Qiwstion:  1

Enter the movie name :Toy Story (1995)

Movie 'Toy Story (1995)' was predicted to have a score of 3.814784140016627  whith the method of avarage method group recomendationwhich is lower than the score of  10th movie in the recommendation list which is  'Shall We Dance? (1996)' with score 4.509747928117572, that is  why this movie  was not included in the top 10  recommendations for group with avarage method.

Enter 'quite' for for ending the process and.
Press 1 , 2 or 3 for you requered why-not Qiwstion:  2

Enter the genre for which you need why-not explanation: Mystery

The genre 'Mystery' is not present in the group recommendation because it is not a prevalent genre in the individual top 10 recommendations of the users in the group.

Enter 'quite' for for ending the process and.
Press 1 , 2 or 3 for you requered why-not Qiwstion:  3

Enter the movie name :GoldenEye (1995)

Enter the movie rank for which you need explanation: 1

Because the rank: 1 movie 'Good Will Hunting (1997)' has a group recomendation score of 4.870444055604533 which is getter than the movie 'GoldenEye (1995)' which has a group recomendation score of 3.4971366896978764. So, the rank of movie 'GoldenEye (1995)' has to be lower than the movie rank: 1.

Enter 'quite' for for ending the process and.
Press 1 , 2 or 3 for you requered why-not Qiwstion:  quite